## Pandas and NumPy

Awesome libraries that help us work with tabular data

### Loading Data into a DataFrame

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/DoctorWhoEpisodes.csv')

df.head()

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,AI,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
0,1.01,697,Rose,Sat,7:00pm,00:44:14,10.81m,44.8%,76.0,7,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-03-26,"26 Mar, 2005",9,1,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1
1,1.02,698,The End of the World,Sat,6:59pm,00:44:45,7.97m,37.8%,76.0,19,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-02,"2 Apr, 2005",9,2,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1
2,1.03,699,The Unquiet Dead,Sat,7:00pm,00:44:50,8.86m,37.8%,80.0,15,...,"[{""role"":""Writer"",""name"":""Mark Gatiss""},{""role...",NaN,2005-04-09,"9 Apr, 2005",9,3,7.6,5326,The Doctor has great expectations for his late...,1
3,1.04,700,Aliens of London,Sat,7:00pm,00:45:05,7.63m,35.7%,82.0,18,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-16,"16 Apr, 2005",9,4,7.0,5116,The Doctor returns Rose to her own time - well...,1
4,1.05,701,World War Three,Sat,7:01pm,00:40:40,7.98m,40.2%,81.0,20,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-23,"23 Apr, 2005",9,5,7.1,4943,The Slitheen have infiltrated Parliament and h...,1

In [2]:
df.columns

Index(['episode_id', 'episodenbr', 'title', 'weekday', 'broadcasthour',
       'duration', 'views', 'share', 'AI', 'chart', 'cast', 'crew', 'summary',
       'date', 'air_date', 'doctorid', 'number', 'rating', 'votes',
       'description', 'season'],
      dtype='object')

In [3]:
df.tail(1)

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,AI,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
145,11.11,851,Resolution,Tue,7:00pm,01:00:00,7.13m,26.6%,80.0,14,...,"[{""role"":""Writer"",""name"":""Chris Chibnall""},{""r...",NaN,2019-01-01,1 Jan 2019,13,11,6.0,2690,"As the New Year begins, a terrifying evil is s...",11

In [6]:
df.sample(2)

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,AI,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
117,9.09,822,Sleep No More,Sat,8:14pm,00:45:07,5.61m,22.6%,78.0,28,...,"[{""role"":""Writer"",""name"":""Mark Gatiss""},{""role...",This terrifying story is assembled from footag...,2015-11-14,15 Nov 2015,12,9,6.0,3866,Vision recovered from the wreckage of Le Verri...,9
110,9.02,815,The Witch's Familiar,Sat,7:45pm,00:47:50,5.71m,22.9%,83.0,24,...,"[{""role"":""Writer"",""name"":""Steven Moffat""},{""ro...",Trapped and alone on the terrifying planet Ska...,2015-09-26,2015-09-26,12,2,8.5,4109,"Trapped and alone in a terrifying Dalek city, ...",9

### Descriptive Statistics

In [7]:
df.describe()

,episode_id,episodenbr,AI,chart,doctorid,number,rating,votes,season
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,5.935890,773.616438,84.500000,14.397260,10.945205,6.602740,7.911644,4909.821918,5.869863
std,3.111132,45.569236,2.797166,6.666933,1.100350,3.885392,0.943984,1487.570969,3.112298
min,1.010000,697.000000,76.000000,1.000000,9.000000,0.000000,5.200000,2494.000000,1.000000
25%,3.092500,733.250000,83.000000,9.250000,10.000000,3.000000,7.300000,4127.000000,3.000000
50%,6.045000,774.500000,85.000000,14.000000,11.000000,7.000000,7.900000,4750.000000,6.000000
75%,8.787500,813.500000,86.000000,19.000000,12.000000,10.000000,8.700000,5405.750000,8.750000
max,11.110000,851.000000,91.000000,30.000000,13.000000,14.000000,9.800000,16398.000000,11.000000

In [8]:
df.quantile(0.42)

episode_id       5.069
episodenbr     762.900
AI              84.000
chart           13.000
doctorid        11.000
number           5.900
rating           7.700
votes         4635.500
season           5.000
Name: 0.42, dtype: float64

In [10]:
df['doctorid'].unique()

array([ 9, 10, 11, 12, 13], dtype=int64)

### Renaming Columns

In [12]:
df = df.rename(columns={'AI': 'appreciation'})
df.columns

Index(['episode_id', 'episodenbr', 'title', 'weekday', 'broadcasthour',
       'duration', 'views', 'share', 'appreciation', 'chart', 'cast', 'crew',
       'summary', 'date', 'air_date', 'doctorid', 'number', 'rating', 'votes',
       'description', 'season'],
      dtype='object')

### Dropping Columns

In [13]:
df.columns

Index(['episode_id', 'episodenbr', 'title', 'weekday', 'broadcasthour',
       'duration', 'views', 'share', 'appreciation', 'chart', 'cast', 'crew',
       'summary', 'date', 'air_date', 'doctorid', 'number', 'rating', 'votes',
       'description', 'season'],
      dtype='object')

In [14]:
df = df.drop(columns=['cast', 'crew', 'air_date', 'number', 'duration', 'broadcasthour'])
df.head(1)

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81m,44.8%,76.0,7,NaN,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1

### Cleaning Data

In [15]:
# Remove % from Share
df['share'] = df['share'].str.replace('%','')

# Remove m from viewership
df['views'] = df['views'].str.replace('m', '')

df.head(1)

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,NaN,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1

In [16]:
df['summary'] = df['summary'].fillna('No Summary Available')
df.head()

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1
1,1.02,698,The End of the World,Sat,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1
2,1.03,699,The Unquiet Dead,Sat,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,7.6,5326,The Doctor has great expectations for his late...,1
3,1.04,700,Aliens of London,Sat,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,7.0,5116,The Doctor returns Rose to her own time - well...,1
4,1.05,701,World War Three,Sat,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,7.1,4943,The Slitheen have infiltrated Parliament and h...,1

In [17]:
df['summary'].unique()

array(['No Summary Available',
       "When Rose travels back to the day of her father's death, her meddling in the course of events has terrible consequences for the human race - in the form of the fiendish Reapers.\n\nSynopsis Source: Radio Times",
       'The newly regenerated Doctor takes Rose home for the festive season, but\n the transition process has tired him and he falls unconscious - just as\n the planet comes under threat from evil alien race the Sycorax, who \nhave employed sinister Santas and murderous trees to do their bidding.',
       "On a parallel Earth where Rose's parents remained together, the Doctor sees a terrifying enemy reborn... The Cybermen are coming!",
       'The Cybermen take control of London and start converting the populace. It looks like even the Doctor is beaten...',
       "The Doctor and Rose land in a base on an 'impossible planet'. But the TARDIS is missing, there's a killer in the base, and who are the Ood?",
       'As Rose battles the murderous Ood, the Doctor must grapple with a monster that challenges his every belief: the Beast.',
       'The Cybermen have invaded Earth, but the Doctor and Torchwood are about to confront an even greater threat.',
       'As the human race is caught in a war between Daleks and Cybermen, the Doctor faces losing Rose.',
       'The script is available to read from the BBC Writers Room.',
       'The Doctor finds his oldest enemies at work on top of the Empire State Building when he and Martha travel to 1930s New York.',
       'As a new Dalek Empire rises in 1930s New York, the Doctor must enter an unholy alliance.',
       'As a spaceship hurtles towards the sun, the Doctor and Martha have only 42 minutes to save the day!',
       'The reptilian Silurians are the former rulers of Earth. A drilling project awakens them - and now they want their planet back!',
       "Mankind and the Silurians teeter on the brink of all-out war. Can the Doctor ensure the two species' survival?",
       'The Doctor confronts an army of old enemies, and Amy battles a Cyberman. And then the Pandorica opens...',
       "The Stone Dalek closes in on the Doctor, and reality's last hope is a little girl who still believes in stars.",
       "The Doctor has one hour to save a crashing spaceship and a miser's soul - but what lurks in the fog?",
       'Christmas special. The Doctor turns his back on the universe after \nlosing Amy and Rory, and lives a reclusive life in Victorian London. As \nChristmas approaches, he is drawn back into action by a trio of old \nfriends and a plucky governess, and discovers an icy new threat to the \nworld. Starring Matt Smith and Jenna Coleman, and guest starring Richard\n E Grant, with the voice of Ian McKellen.',
       'The TARDIS has crashed, Clara is lost inside, and the Doctor has 30 minutes before his ship explodes!',
       '\nWhen the Doctor arrives in Victorian London, he finds a dinosaur rampant in the Thames and a spate of deadly spontaneous combustions.\n\nWho is the new Doctor and will Clara’s friendship survive as they embark on a terrifying mission into the heart of an alien conspiracy? The Doctor has changed. It’s time you knew him.\n',
       '\xa0',
       'The terrifying Skovox Blitzer is ready to destroy all humanity - but worse, and any second now, Danny Pink and the Doctor are going to meet.\n\nWhen terrifying events threaten Coal Hill school, the Doctor decides to go undercover.',
       'In the mysterious world of the Nethersphere, plans have been drawn up. Missy is about to come face to face with the Doctor, and an impossible choice is looming.“Death\n is not an end” promises the sinister organisation known only as 3W – \nbut, as the Doctor and Clara discover, you might wish it was.',
       'With Cybermen on the streets of London, old friends \nunite against old enemies and the Doctor takes to the air in a startling\n new role. Can the mighty UNIT contain Missy? As the Doctor faces his greatest challenge, sacrifices must be made before the day is won.',
       '\nWhere is the Doctor? When the skies of Earth are frozen by a mysterious alien force, Clara needs her friend. But where is the Doctor, and what is he hiding from?\n\n\nAs past deeds come back to haunt him, old enemies will come face-to-face, and for the Doctor and Clara survival seems impossible.',
       'Trapped and alone on the terrifying planet Skaro, the Doctor is at the heart of the evil Dalek Empire - no sonic, no TARDIS, nobody to help. With his greatest temptation before him, can the Doctor resist? And will there be mercy?',
       'When an Underwater Base comes under attack, the Doctor and Clara must save the frightened crew and defeat an impossible threat. But what is behind these terrifying events? And can they really be haunted by ghosts?',
       'On a remote Army outpost, a fearsome alien warlord - the Fisher King - sets in motion a twisted plan to ensure his own survival. The ripples will be felt around the universe. Is this chain of events inevitable? And can the Doctor do the unthinkable?',
       'Captured by Vikings, the Doctor and Clara must help protect their village from Space Warriors from the future: the Mire. Outnumbered and outgunned, their fate seems inevitable. So why is the Doctor preoccupied with a single Viking girl?',
       "England, 1651. The deadly Highwayman 'The Nightmare' and his sidekick stalk the dark streets of London. But when they find loot that's not of this world, they come face to face with The Doctor.\n\nWho is the Nightmare in league with? And can the Doctor avoid the hangman's noose and protect Earth from a devilish betrayal?",
       'The Zygons, a race of shapeshifting aliens, have been living in secret among us on Earth, unknown and unseen - until now!\n\n\nWhen Osgood is kidnapped by a rogue gang of Zygons, the Doctor, Clara and UNIT must scatter across the world in a bid to set her free. But will they reach her in time, and can they stop an uprising before it’s too late?\n',
       'Shapeshifting Zygons are everywhere in the UK, and there is no way of knowing who to trust. With UNIT neutralised, only the Doctor stands in their way. But how do you stop a war? And what can the Doctor do to save his friends?',
       'This terrifying story is assembled from footage discovered in the wreckage of Le Verrier Space Station.',
       'The Doctor and Clara, with their old friend Rigsy, find themselves in a magical alien world, hidden on a street in the heart of London.\n\n\nSheltered within are some of the most fearsome creatures of the universe… and Ashildr (Maisie Williams)! With a death sentence hanging over their heads, not all of the intruders will get out alive.\n',
       'Trapped in a world unlike any other he has seen, the Doctor faces the greatest challenge of his many lives. One final test. And he must face it alone.\n\n\nPursued by the fearsome creature known only as the Veil, he must attempt the impossible. If he makes it through, Gallifrey is waiting…\n',
       'If you took everything from him, betrayed him, trapped him, and broke both his hearts...how far might the Doctor go?\n\nReturning to Gallifrey, the Doctor faces the Time Lords in a struggle that will take him to the end of time itself. Who is the Hybrid? And what is the Doctor’s confession?',
       'It’s Christmas Day on a remote human colony and the Doctor is hiding from Christmas Carols and Comedy Antlers. But when a crashed spaceship calls upon the Doctor for help, he finds himself recruited into River Song’s squad and hurled into a fast and frantic chase across the galaxy. King Hydroflax is furious, and his giant Robot bodyguard is out of control and coming for them all! Will Nardole survive? And when will River Song work out who the Doctor is?\n\nAll will be revealed on a starliner full of galactic super-villains and a destination the Doctor has been avoiding for a very long time.',
       'This Christmas sees The Doctor join forces with a masked Superhero for an epic New York adventure.\n\nWith brain-swapping aliens poised to attack, the Doctor and Nardole link up with an investigative reporter and a mysterious figure known only as The Ghost. Can the Doctor save Manhattan? And what will be revealed when we see behind the mask?',
       'A chance encounter with a girl with a star in her eye leads to a terrifying chase across time and space. Bill’s mind is opened to a Universe that is bigger and more exciting than she could possibly have imagined - but who is the Doctor, and what is his secret mission with Nardole on Earth?',
       "The language of the future is emoji! The Doctor takes Bill to a spectacular city on a distant planet - but where are the colonists? A band of 'cute' droids hold the deadly answer.",
       'The Doctor and Bill arrive at the last of the great frost fairs, and find themselves investigating a string of impossible disappearances - people have been vanishing on the ice! Bill is about to discover that the past is more like her world than she expected, and that not all monsters come from outer space...',
       'Bill is moving in with some friends and they’ve found the perfect house - so what if it’s strangely cheap to rent, and the landlord is a little creepy?\n\nThe wind blows, the floorboards creak, and the Doctor thinks something is very wrong. What lurks in the strange tower at the heart of the building - and why can’t they find any way to enter it?',
       'The Doctor, Bill and Nardole answer a distress call in deep space, and find themselves trapped on board space station Chasm Forge. All but four of the crew have been murdered - and the dead are still walking!\n\nIn a future where oxygen is sold by the breath, and space suits are valued more highly than their occupants, the TARDIS crew battle for survival against the darkest evil of all…',
       'In the Haereticum - the Vatican’s secret library of blasphemy - there is an ancient book known only as The Veritas. Throughout history, anyone who has ever read it has immediately taken their own life. Now a new translation is online, and the danger is spreading. The Vatican appeals to the Doctor. Will he read The Veritas? But can even the Doctor survive the ultimate truth?',
       'A 5,000 year-old Pyramid stands at the centre of a war zone, where the Chinese, Russian and American armies are about to clash. There are many problems with that, but the one that intrigues the Doctor is this: there wasn’t a pyramid there yesterday.\n\nThe Doctor, Bill and Nardole face an alien invasion unlike any other, and before conquest can begin, these aliens need the consent of the human race…',
       'The world is gripped by a mass delusion and only Bill Potts can see the truth. When even the Doctor is fighting on the wrong side, it’s up to Bill to convince the Time Lord that humanity is in deadly danger. And if she can’t do that, she may just have to kill her best friend…',
       'The Doctor, Bill and Nardole arrive on Mars, and find themselves in an impossible conflict between Ice Warriors… and Victorian soldiers. As the Martian hive awakens around them, the Doctor faces a unique dilemma - this time the humans, not the Ice Warriors are the invaders. When Earth is invading Mars, whose side is he on?',
       'A long time ago, the ninth legion of the Roman army vanished into the mists of Scotland. Bill has a theory about what happened, and the Doctor has a time machine. But when they arrive in ancient Aberdeenshire, what they find is a far greater threat than any army. In a cairn, on a hillside, is a doorway leading to the end of the world…',
       'Friendship drives the Doctor into the rashest decision of his life. Trapped on a giant spaceship, caught in the event horizon of a black hole, he witnesses the death of someone he is pledged to protect. Is there any way he can redeem his mistake? Are events already out of control? For once, time is the Time Lord’s enemy…',
       'The Mondasian Cybermen are on the rise. It’s time for the Doctor’s final battle…',
       'We don’t get aliens in Sheffield.\xa0\n\n\xa0\n\nIn a South Yorkshire city, Ryan Sinclair, Yasmin Khan and Graham O’Brien are about to have their lives changed forever, as a mysterious woman, unable to remember her own name, falls from the night sky. Can they believe a word she says? And can she help solve the strange events taking place across the city?\xa0',
       'Still reeling from their first encounter, can the Doctor and her new friends stay alive long enough in a hostile alien environment to solve the mystery of Desolation? And just who are Angstrom and Epzo?',
       '“If she can live here her whole life, a couple of hours ain’t gonna kill me. They ain’t gonna kill me, right?”\n\nMontgomery, Alabama. 1955. The Doctor and her friends find themselves in the Deep South of America. As they encounter a seamstress by the name of Rosa Parks, they begin to wonder: is someone attempting to change history?',
       '“Something’s happening with the spiders in this city.” \n\nThe Doctor, Yaz, Graham and Ryan find their way back to Yorkshire – and Yaz’s family – only to find something is stirring amidst the eight-legged arachnid population of Sheffield.',
       '“Risk to life: absolute.”\n\n\xa0\n\nInjured and stranded in the wilds of a far-flung galaxy, The Doctor, Yaz, Graham and Ryan must band together with a group of strangers to survive against one of the universe’s most deadly -- and unusual -- creatures.',
       'What’s the point of having a mate with a time machine, if you can’t nip back and see your gran when she was younger?\n\n\xa0\n\nIndia, 1947. The Doctor and her friends arrive in the Punjab, as the country is being torn apart. \xa0While Yaz attempts to discover her grandmother’s hidden history, the Doctor discovers demons haunting the land. Who are they and what do they want?',
       '“Delivery for the Doctor!”\xa0\n\n\xa0\n\nA mysterious message arrives in a package addressed to the Doctor, leading her, Graham, Yaz and Ryan to investigate the warehouse moon orbiting Kandoka, and the home of the galaxy’s largest retailer: Kerblam!\xa0',
       'The Doctor, Ryan, Graham and Yaz arrive in 17th century Lancashire and become embroiled in a witch trial, run by the local landowner.\xa0\n\nAs fear stalks the land, the arrival of King James I only serves to intensify the witch hunt. But is there something even more dangerous at work? Can the Doctor and friends keep the people of Bilehurst Cragg safe from all the forces that are massing in the land?\xa0',
       'On the edge of a Norwegian fjord, in the present day, The Doctor, Ryan, Graham and Yaz discover a boarded-up cottage and a girl named Hanne in need of their help.\xa0\n\nWhat has happened here?\xa0\n\nWhat monster lurks in the woods around the cottage – and beyond?\xa0',
       'On the planet of Ranskoor Av Kolos, lies the remains of a brutal battlefield. But as the Doctor, Graham, Yaz and Ryan answer nine separate distress calls, they discover the planet holds far more secrets.\xa0\n\nWho is the mysterious commander with no memory? What lies beyond the mists? Who or what are the Ux?\xa0\n\nThe answers will lead the Doctor and her friends towards a deadly reckoning.\xa0'],
      dtype=object)

### Adding Columns

In [19]:
df['has_9']  = df['doctorid'] == 9
df['has_10'] = df['doctorid'] == 10
df['has_11'] = df['doctorid'] == 11
df['has_12'] = df['doctorid'] == 12
df['has_13'] = df['doctorid'] == 13

df.head()

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season,has_9,has_10,has_11,has_12,has_13
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1,True,False,False,False,False
1,1.02,698,The End of the World,Sat,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1,True,False,False,False,False
2,1.03,699,The Unquiet Dead,Sat,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,7.6,5326,The Doctor has great expectations for his late...,1,True,False,False,False,False
3,1.04,700,Aliens of London,Sat,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,7.0,5116,The Doctor returns Rose to her own time - well...,1,True,False,False,False,False
4,1.05,701,World War Three,Sat,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,7.1,4943,The Slitheen have infiltrated Parliament and h...,1,True,False,False,False,False

In [20]:
df['weekday'].unique()

array(['Sat', 'Sun', 'Mon', 'Tue', 'Fri'], dtype=object)

In [21]:
df = pd.get_dummies(df, columns=['weekday'], drop_first=True, prefix='day')
df.head()

,episode_id,episodenbr,title,views,share,appreciation,chart,summary,date,doctorid,...,season,has_9,has_10,has_11,has_12,has_13,day_Mon,day_Sat,day_Sun,day_Tue
0,1.01,697,Rose,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,...,1,True,False,False,False,False,0,1,0,0
1,1.02,698,The End of the World,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,...,1,True,False,False,False,False,0,1,0,0
2,1.03,699,The Unquiet Dead,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,...,1,True,False,False,False,False,0,1,0,0
3,1.04,700,Aliens of London,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,...,1,True,False,False,False,False,0,1,0,0
4,1.05,701,World War Three,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,...,1,True,False,False,False,False,0,1,0,0

In [22]:
df.replace({False: 0, True: 1}, inplace=True)
df['has_11'].unique()

array([0, 1], dtype=int64)

### Correlation Analysis

In [23]:
df.corr()

,episode_id,episodenbr,appreciation,chart,doctorid,rating,votes,season,has_9,has_10,has_11,has_12,has_13,day_Mon,day_Sat,day_Sun,day_Tue
episode_id,1.000000,0.996921,-0.329043,0.168053,0.966445,-0.304684,-0.395395,0.999922,-0.490662,-0.588435,0.036907,0.603687,0.471761,-0.078638,-0.383035,0.406322,0.067930
episodenbr,0.996921,1.000000,-0.316950,0.194821,0.964009,-0.283154,-0.395498,0.995919,-0.486152,-0.603353,0.054345,0.608256,0.454978,-0.090732,-0.357784,0.380753,0.061823
appreciation,-0.329043,-0.316950,1.000000,-0.260721,-0.347308,0.549926,0.235551,-0.330742,-0.254506,0.379954,0.352814,-0.375185,-0.358403,-0.014896,0.313893,-0.323525,-0.025980
chart,0.168053,0.194821,-0.260721,1.000000,0.112980,-0.038217,-0.294992,0.164042,0.118854,-0.252066,-0.110871,0.417973,-0.200637,-0.054962,0.320307,-0.264831,-0.132194
doctorid,0.966445,0.964009,-0.347308,0.112980,1.000000,-0.337997,-0.341335,0.966550,-0.554591,-0.547767,0.031755,0.570571,0.534884,-0.071582,-0.417708,0.454248,0.051266
rating,-0.304684,-0.283154,0.549926,-0.038217,-0.337997,1.000000,0.465623,-0.307224,0.042146,0.162622,0.103112,0.019207,-0.533155,-0.027511,0.427622,-0.464023,-0.078775
votes,-0.395395,-0.395498,0.235551,-0.294992,-0.341335,0.465623,1.000000,-0.395378,0.132802,0.292113,-0.027256,-0.339602,-0.032979,0.004547,0.051488,-0.016931,-0.056650
season,0.999922,0.995919,-0.330742,0.164042,0.966550,-0.307224,-0.395378,1.000000,-0.490878,-0.588004,0.036420,0.603657,0.472139,-0.076840,-0.385165,0.408561,0.068342
has_9,-0.490662,-0.486152,-0.254506,0.118854,-0.554591,0.042146,0.132802,-0.490878,1.000000,-0.198680,-0.198680,-0.185450,-0.089243,-0.025963,0.117240,-0.097744,-0.045283
has_10,-0.588435,-0.603353,0.379954,-0.252066,-0.547767,0.162622,0.292113,-0.588004,-0.198680,1.000000,-0.403846,-0.376954,-0.181400,0.130680,0.100241,-0.145553,0.014610
has_11,0.036907,0.054345,0.352814,-0.110871,0.031755,0.103112,-0.027256,0.036420,-0.198680,-0.403846,1.000000,-0.376954,-0.181400,-0.052774,0.146263,-0.145553,0.014610
has_12,0.603687,0.608256,-0.375185,0.417973,0.570571,0.019207,-0.339602,0.603657,-0.185450,-0.376954,-0.376954,1.000000,-0.169320,-0.049260,0.127480,-0.130641,-0.085916
has_13,0.471761,0.454978,-0.358403,-0.200637,0.534884,-0.533155,-0.032979,0.472139,-0.089243,-0.181400,-0.181400,-0.169320,1.000000,-0.023705,-0.761199,0.821911,0.141575
day_Mon,-0.078638,-0.090732,-0.014896,-0.054962,-0.071582,-0.027511,0.004547,-0.076840,-0.025963,0.130680,-0.052774,-0.049260,-0.023705,1.000000,-0.221455,-0.025963,-0.012028
day_Sat,-0.383035,-0.357784,0.313893,0.320307,-0.417708,0.427622,0.051488,-0.385165,0.117240,0.100241,0.146263,0.127480,-0.761199,-0.221455,1.000000,-0.833709,-0.386244
day_Sun,0.406322,0.380753,-0.323525,-0.264831,0.454248,-0.464023,-0.016931,0.408561,-0.097744,-0.145553,-0.145553,-0.130641,0.821911,-0.025963,-0.833709,1.000000,-0.045283
day_Tue,0.067930,0.061823,-0.025980,-0.132194,0.051266,-0.078775,-0.056650,0.068342,-0.045283,0.014610,0.014610,-0.085916,0.141575,-0.012028,-0.386244,-0.045283,1.000000

In [24]:
df['rating'].dtype

dtype('float64')

### Exporting Results

In [26]:
df.to_csv('data/Processed.csv')

df.head()

,episode_id,episodenbr,title,views,share,appreciation,chart,summary,date,doctorid,...,season,has_9,has_10,has_11,has_12,has_13,day_Mon,day_Sat,day_Sun,day_Tue
0,1.01,697,Rose,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,...,1,1,0,0,0,0,0,1,0,0
1,1.02,698,The End of the World,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,...,1,1,0,0,0,0,0,1,0,0
2,1.03,699,The Unquiet Dead,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,...,1,1,0,0,0,0,0,1,0,0
3,1.04,700,Aliens of London,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,...,1,1,0,0,0,0,0,1,0,0
4,1.05,701,World War Three,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,...,1,1,0,0,0,0,0,1,0,0