## Pandas and NumPy

Awesome libraries that help us work with tabular data

### Loading Data into a DataFrame

In [198]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/DoctorWhoEpisodes.csv')

df.head()

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,AI,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
0,1.01,697,Rose,Sat,7:00pm,00:44:14,10.81m,44.8%,76.0,7,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-03-26,"26 Mar, 2005",9,1,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1
1,1.02,698,The End of the World,Sat,6:59pm,00:44:45,7.97m,37.8%,76.0,19,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-02,"2 Apr, 2005",9,2,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1
2,1.03,699,The Unquiet Dead,Sat,7:00pm,00:44:50,8.86m,37.8%,80.0,15,...,"[{""role"":""Writer"",""name"":""Mark Gatiss""},{""role...",NaN,2005-04-09,"9 Apr, 2005",9,3,7.6,5326,The Doctor has great expectations for his late...,1
3,1.04,700,Aliens of London,Sat,7:00pm,00:45:05,7.63m,35.7%,82.0,18,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-16,"16 Apr, 2005",9,4,7.0,5116,The Doctor returns Rose to her own time - well...,1
4,1.05,701,World War Three,Sat,7:01pm,00:40:40,7.98m,40.2%,81.0,20,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-04-23,"23 Apr, 2005",9,5,7.1,4943,The Slitheen have infiltrated Parliament and h...,1

In [199]:
df.columns

Index(['episode_id', 'episodenbr', 'title', 'weekday', 'broadcasthour',
       'duration', 'views', 'share', 'AI', 'chart', 'cast', 'crew', 'summary',
       'date', 'air_date', 'doctorid', 'number', 'rating', 'votes',
       'description', 'season'],
      dtype='object')

In [200]:
df.sample()

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,AI,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
73,6.05,775,The Rebel Flesh,Sat,6:45pm,00:43:19,7.35m,34.1%,85.0,13,...,"[{""role"":""Writer"",""name"":""Matthew Graham""},{""r...",NaN,2011-05-21,"21 May, 2011",11,5,7.3,3925,A solar tsunami sends the TARDIS crew to an ac...,6

### Descriptive Statistics

In [201]:
df.describe()

,episode_id,episodenbr,AI,chart,doctorid,number,rating,votes,season
count,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000,146.000000
mean,5.935890,773.616438,84.500000,14.397260,10.945205,6.602740,7.911644,4909.821918,5.869863
std,3.111132,45.569236,2.797166,6.666933,1.100350,3.885392,0.943984,1487.570969,3.112298
min,1.010000,697.000000,76.000000,1.000000,9.000000,0.000000,5.200000,2494.000000,1.000000
25%,3.092500,733.250000,83.000000,9.250000,10.000000,3.000000,7.300000,4127.000000,3.000000
50%,6.045000,774.500000,85.000000,14.000000,11.000000,7.000000,7.900000,4750.000000,6.000000
75%,8.787500,813.500000,86.000000,19.000000,12.000000,10.000000,8.700000,5405.750000,8.750000
max,11.110000,851.000000,91.000000,30.000000,13.000000,14.000000,9.800000,16398.000000,11.000000

In [202]:
df.quantile(1)

episode_id       11.11
episodenbr      851.00
AI               91.00
chart            30.00
doctorid         13.00
number           14.00
rating            9.80
votes         16398.00
season           11.00
Name: 1.0, dtype: float64

In [203]:
df['doctorid'].unique()

array([ 9, 10, 11, 12, 13], dtype=int64)

### Renaming Columns

In [204]:
df = df.rename(columns={'AI': 'appreciation'})
df.head(1)

,episode_id,episodenbr,title,weekday,broadcasthour,duration,views,share,appreciation,chart,...,crew,summary,date,air_date,doctorid,number,rating,votes,description,season
0,1.01,697,Rose,Sat,7:00pm,00:44:14,10.81m,44.8%,76.0,7,...,"[{""role"":""Writer"",""name"":""Russell T Davies""},{...",NaN,2005-03-26,"26 Mar, 2005",9,1,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1

### Dropping Columns

In [205]:
df.columns

Index(['episode_id', 'episodenbr', 'title', 'weekday', 'broadcasthour',
       'duration', 'views', 'share', 'appreciation', 'chart', 'cast', 'crew',
       'summary', 'date', 'air_date', 'doctorid', 'number', 'rating', 'votes',
       'description', 'season'],
      dtype='object')

In [206]:
df = df.drop(columns=['cast','crew', 'air_date', 'number', 'duration', 'broadcasthour'])
df.head(1)

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81m,44.8%,76.0,7,NaN,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1

### Cleaning Data

In [207]:
# Remove % from Share
df['share'] = df['share'].str.replace('%','')

# Remove m from views
df['views'] = df['views'].str.replace('m','')
df.head(1)

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,NaN,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1

In [208]:
df['summary'] = df['summary'].fillna('No Summary Available')
df.head()

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1
1,1.02,698,The End of the World,Sat,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1
2,1.03,699,The Unquiet Dead,Sat,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,7.6,5326,The Doctor has great expectations for his late...,1
3,1.04,700,Aliens of London,Sat,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,7.0,5116,The Doctor returns Rose to her own time - well...,1
4,1.05,701,World War Three,Sat,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,7.1,4943,The Slitheen have infiltrated Parliament and h...,1

### Adding Columns

In [209]:
# Engineer columns for the relevant doctors
df['has_9']  = df['doctorid'] == 9
df['has_10'] = df['doctorid'] == 10
df['has_11'] = df['doctorid'] == 11
df['has_12'] = df['doctorid'] == 12
df['has_13'] = df['doctorid'] == 13

df.head()

,episode_id,episodenbr,title,weekday,views,share,appreciation,chart,summary,date,doctorid,rating,votes,description,season,has_9,has_10,has_11,has_12,has_13
0,1.01,697,Rose,Sat,10.81,44.8,76.0,7,No Summary Available,2005-03-26,9,7.6,6504,When ordinary shop-worker Rose Tyler meets a m...,1,True,False,False,False,False
1,1.02,698,The End of the World,Sat,7.97,37.8,76.0,19,No Summary Available,2005-04-02,9,7.6,5684,The Doctor takes Rose to the year 5 billion to...,1,True,False,False,False,False
2,1.03,699,The Unquiet Dead,Sat,8.86,37.8,80.0,15,No Summary Available,2005-04-09,9,7.6,5326,The Doctor has great expectations for his late...,1,True,False,False,False,False
3,1.04,700,Aliens of London,Sat,7.63,35.7,82.0,18,No Summary Available,2005-04-16,9,7.0,5116,The Doctor returns Rose to her own time - well...,1,True,False,False,False,False
4,1.05,701,World War Three,Sat,7.98,40.2,81.0,20,No Summary Available,2005-04-23,9,7.1,4943,The Slitheen have infiltrated Parliament and h...,1,True,False,False,False,False

In [210]:
df = pd.get_dummies(df, columns=['weekday'], drop_first=True, prefix='day')

In [211]:
# Convert Boolean Columns to Numeric
df.replace({False: 0, True: 1}, inplace=True)
df['has_11'].unique()

array([0, 1], dtype=int64)

### Correlation Analysis

In [212]:
df.corr()

,episode_id,episodenbr,appreciation,chart,doctorid,rating,votes,season,has_9,has_10,has_11,has_12,has_13,day_Mon,day_Sat,day_Sun,day_Tue
episode_id,1.000000,0.996921,-0.329043,0.168053,0.966445,-0.304684,-0.395395,0.999922,-0.490662,-0.588435,0.036907,0.603687,0.471761,-0.078638,-0.383035,0.406322,0.067930
episodenbr,0.996921,1.000000,-0.316950,0.194821,0.964009,-0.283154,-0.395498,0.995919,-0.486152,-0.603353,0.054345,0.608256,0.454978,-0.090732,-0.357784,0.380753,0.061823
appreciation,-0.329043,-0.316950,1.000000,-0.260721,-0.347308,0.549926,0.235551,-0.330742,-0.254506,0.379954,0.352814,-0.375185,-0.358403,-0.014896,0.313893,-0.323525,-0.025980
chart,0.168053,0.194821,-0.260721,1.000000,0.112980,-0.038217,-0.294992,0.164042,0.118854,-0.252066,-0.110871,0.417973,-0.200637,-0.054962,0.320307,-0.264831,-0.132194
doctorid,0.966445,0.964009,-0.347308,0.112980,1.000000,-0.337997,-0.341335,0.966550,-0.554591,-0.547767,0.031755,0.570571,0.534884,-0.071582,-0.417708,0.454248,0.051266
rating,-0.304684,-0.283154,0.549926,-0.038217,-0.337997,1.000000,0.465623,-0.307224,0.042146,0.162622,0.103112,0.019207,-0.533155,-0.027511,0.427622,-0.464023,-0.078775
votes,-0.395395,-0.395498,0.235551,-0.294992,-0.341335,0.465623,1.000000,-0.395378,0.132802,0.292113,-0.027256,-0.339602,-0.032979,0.004547,0.051488,-0.016931,-0.056650
season,0.999922,0.995919,-0.330742,0.164042,0.966550,-0.307224,-0.395378,1.000000,-0.490878,-0.588004,0.036420,0.603657,0.472139,-0.076840,-0.385165,0.408561,0.068342
has_9,-0.490662,-0.486152,-0.254506,0.118854,-0.554591,0.042146,0.132802,-0.490878,1.000000,-0.198680,-0.198680,-0.185450,-0.089243,-0.025963,0.117240,-0.097744,-0.045283
has_10,-0.588435,-0.603353,0.379954,-0.252066,-0.547767,0.162622,0.292113,-0.588004,-0.198680,1.000000,-0.403846,-0.376954,-0.181400,0.130680,0.100241,-0.145553,0.014610
has_11,0.036907,0.054345,0.352814,-0.110871,0.031755,0.103112,-0.027256,0.036420,-0.198680,-0.403846,1.000000,-0.376954,-0.181400,-0.052774,0.146263,-0.145553,0.014610
has_12,0.603687,0.608256,-0.375185,0.417973,0.570571,0.019207,-0.339602,0.603657,-0.185450,-0.376954,-0.376954,1.000000,-0.169320,-0.049260,0.127480,-0.130641,-0.085916
has_13,0.471761,0.454978,-0.358403,-0.200637,0.534884,-0.533155,-0.032979,0.472139,-0.089243,-0.181400,-0.181400,-0.169320,1.000000,-0.023705,-0.761199,0.821911,0.141575
day_Mon,-0.078638,-0.090732,-0.014896,-0.054962,-0.071582,-0.027511,0.004547,-0.076840,-0.025963,0.130680,-0.052774,-0.049260,-0.023705,1.000000,-0.221455,-0.025963,-0.012028
day_Sat,-0.383035,-0.357784,0.313893,0.320307,-0.417708,0.427622,0.051488,-0.385165,0.117240,0.100241,0.146263,0.127480,-0.761199,-0.221455,1.000000,-0.833709,-0.386244
day_Sun,0.406322,0.380753,-0.323525,-0.264831,0.454248,-0.464023,-0.016931,0.408561,-0.097744,-0.145553,-0.145553,-0.130641,0.821911,-0.025963,-0.833709,1.000000,-0.045283
day_Tue,0.067930,0.061823,-0.025980,-0.132194,0.051266,-0.078775,-0.056650,0.068342,-0.045283,0.014610,0.014610,-0.085916,0.141575,-0.012028,-0.386244,-0.045283,1.000000

### Exporting Results

In [213]:
df.to_csv('data/Processed.csv')